@charset "utf-8";



h1 {
    color: white;
    background-color: purple;
    font-size: 40px;
    text-align: center;
}

nav {
    text-align: center;
}

h2 {
    background-color: rgb(197, 179, 244);
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    grid-template-areas:
        "header-A header-A"
        "main-A main-B"
        "aside-A aside-B"
        "aside-C aside-C"
        "footer-A footer-A";
}

header {
    grid-area: header-A;
}

main {
    grid-area: main-A;
}

.hyou {
    grid-area: main-B;
}

.list {
    grid-area: aside-A;
}

aside {
    grid-area: aside-B;
}

.miho {
    grid-area: aside-C;
}

footer {
    grid-area: footer-A;
    text-align: center;
}

p {
    text-align: center;
}

table {
    border-top: 5px dashed blue;
    border-right: 5px dashed blue;
    border-bottom: 5px solid blue;
    border-left: 5px dashed blue;
}

th {
    border: 1px solid black;
    background-color: aquamarine;
}

td {
    border: 1px solid black;
    border-radius: 8px;
}