@charset "utf-8";



h1 {
    color: white;
    background-color: rgb(252, 119, 24);
    font-size: 40px;
    text-align: center;
}

nav {
    text-align: center;
}

h2 {
    background-color: rgb(244, 198, 179);
    text-align: center;
}

ul {
    list-style: disc;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3em;
    grid-template-areas:
        "header-A header-A"
        "main-A main-B"
        "aside-A aside-B"
        "footer-A footer-A";
}

header {
    grid-area: header-A;
}

main {
    grid-area: main-A;
}

.list {
    grid-area: main-B;
}

.miho {
    grid-area: aside-A;
}

aside {
    grid-area: aside-B;
}

footer {
    grid-area: footer-A;
    text-align: center;
}

p {
    text-align: center;
    font-size: 40px;
}


a:link {
    color: red;
}

a:visited {
    color: rgb(52, 18, 84);
}

a:hover {
    font-size: 2em;
}