@charset "utf-8";


h1 {
    color: white;
    background-color: blue;
    font-size: 40px;
    text-align: center;
}

nav {
    text-align: center;
}

h2 {
    background-color: aqua;
    text-align: center;
}

section.koko>dl>dd>ol>li>ul>li {
    color: red;
    list-style: none;
}

section.mimi>section>ol>li>ul>li {
    color: red;
    list-style: none;
}

a:link {
    color: rgb(248, 54, 33);
}

a:visited {
    color: rgb(255, 38, 222);
}

a:hover {
    font-size: 1.5em;
}

/* クラスを選択するときは最初にドットをつける */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    grid-template-areas:
        "header-A header-A"
        "main-A main-B"
        "aside-A aside-B"
        "aside-C aside-C"
        "footer-A footer-A"
    ;
}

header {
    grid-area: header-A;
}

.tango {
    grid-area: main-A;
}

.komoku {
    grid-area: main-B;
}

.koko {
    grid-area: aside-A;
}

.mimi {
    grid-area: aside-B;
}

.hoho {
    grid-area: aside-C;
    text-align: center;
}

footer {
    grid-area: footer-A;
}

.gnav > ul {
    list-style: none;
}

.gnav > ul > li {
    /* ボックスモデルの変更 */
    display: inline;

    margin: 0 8px 0 0;
    padding: 8px 4px;

    border: 0.5px solid #57cff0;
    border-radius: 10px;

    background: linear-gradient(#cdebf7, #d4f5fc);
    /* グラデーションにできる↑ */
}
